# ---------------------------
# macOS system files
# ---------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Thumbnails
._.DS_Store
.Spotlight-V100
.Trashes

# ---------------------------
# VS Code
# ---------------------------
.vscode/
.history/
*.code-workspace

# ---------------------------
# JetBrains (CLion, IntelliJ, etc.)
# ---------------------------
.idea/
*.iml

# ---------------------------
# Xcode
# ---------------------------
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/

# ---------------------------
# Build artifacts
# ---------------------------
*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.out
*.class

# ---------------------------
# Logs & caches
# ---------------------------
*.log
*.cache

#.vscode/

# Ignore your custom folder
*.dsYM/
*.DS_Store
*.vscode/

#Cmakes
*.idea/
*cmake-build-debug

# Ignore all files in the repo root with no extension
/*

# Re-allow files that *do* have an extension
!/*.*

# Re-allow directories (so Git still sees nested code files)
!*/

*.vscode
